div{
text-align: center;
margin-right:auto;
margin-left:auto;
}

h1,h2{
    color: #5b3300;
}

h1,table,footer,iframe{
font-family: "Noto Sans", sans-serif;
text-align:center;
margin:8px;
padding:20px;
}

table{
width: 100%;
}

tr:nth-child(even) {
      background-color: #ffad42;
    }

tr:nth-child(odd) {
      background-color: #ffce64;
    }

body{
    background-color: #ffe98f;
    padding: 20px;
}

header{
    border-top:solid 10px #955400;
}
